## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>
<footer id="footer-v1" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  <div class="wrapper">
        <p class="tagline">Fulfilling <span>the</span> Promise</p>
        <p class="copyright">
            <a href="https://www.iu.edu/" class="block-iu"><img src="//assets.iu.edu/brand/1.x/block-iu.png" height="26" width="22" alt="Block IU" /></a>
            <span class="line-break">
                <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; <?php echo date('Y'); ?>
            </span>
            <span class="line-break">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a>,</span>
            <span class="line-break"><a href="https://www.iu.edu/copyright/index.html#complaints">Copyright Complaints</a></span>
        </p>
        <p class="internal">
          <a href="/privacy" id="privacy-policy-link">Privacy Notice</a>
          &nbsp; | &nbsp;
          <a href="${reverse('tos')}">${_("Terms of Service & Honor Code")}</a>
          &nbsp; | &nbsp;
          <a href="${reverse('honor')}">Accessibility policy</a>
          &nbsp; | &nbsp;
          <a href="https://canvas.iu.edu" target="_blank">
              <img src="/static/themes/default/images/canvas.jpg" alt="" height="20">
           </a>
        </p>
  </div>
</footer>
