## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%! from django.utils.translation import ugettext as _ %>

<div class="wrapper wrapper-footer">
    <div class="wrapper-footer-before">
        <span class="wrapper-bold">FULFILLING</span>
        <span class="wrapper-italic">the</span>
        <span class="wrapper-bold">PROMISE</span>
    </div>

  <footer id="footer-openedx">
    <div class=" references references-left">
       <span>
         <a href="#" target="_blank">
            <img src="/static/themes/iutheme/images/footer_logo.svg" alt="" height="70">
         </a>
       </span>
    </div>
    <div class="colophon">

      <nav class="nav-colophon">
        <ol>
            <li><a href="${reverse('about')}">${_("About")}</a></li>
            <li><a href="${reverse('tos')}">${_("Terms of Service & Honor Code")}</a></li>
##          ##   <li><a href="${reverse('privacy')}">${_("Privacy Policy")}</a></li>
            ##           <li><a href="${reverse('honor')}">Honor Code</a></li>
                      ##<li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          ##<li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          ##<li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          ##<li><a href="${marketing_link('JOBS')}#careers">Careers</a></li>
          <li><a href="${reverse('help')}">${_("FAQ")}</a></li>
            <li><a href="${marketing_link('CONTACT')}">${_("Contact")}</a></li>
        </ol>
      </nav>

    </div>
          <div class="references">
       <span>
         <a href="#" target="_blank">
            <img src="/static/themes/iutheme/images/powered_by_openedx.svg" alt="" height="50">
         </a>
       </span>
    </div>
  </footer>
</div>

