<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor code")}</%block>

<section class="container about" id="tos">

<h1>${_(u"Accessibility Policy")}</h1>

At SoIC Open edX, we seek to understand and respect the unique needs and perspectives of the SoIC Open edX global community. We value every learner, and are committed to being a leader in expanding access to all, including learners with disabilities. It is thus SoIC Open edX's commitment to ensure that our website, mobile applications, and platform are accessible to individuals with disabilities and that they permit content providers to develop and post accessible content. To meet this goal, SoIC Open edX is implementing several initiatives, including:
<ul>
  <li>Conforming www.iudatascience.soic.scholargrid.org, our mobile applications, and our software platform with the Web Content Accessibility Guidelines ("WCAG") 2.0 AA, published by the World Wide Web Consortium;</li>
  <li>Modifying Studio, our course authoring software, to permit content providers to post course content in a format that conforms with WCAG 2.0 AA for web content;</li>
  <li>Ensuring that www.iudatascience.soic.scholargrid.org, our mobile applications, and platform do not interfere with the posting of course content in formats that conform to MathML for digital mathematical and scientific notation; the W3C's Guidance on Applying WCAG 2.0 to Non-Web Information and Communications Technologies ("WCAG2ICT") for non-web software and content; and the Digital Accessibility Information System ("DAISY") Standard, published by the DAISY Consortium, or EPUB3, published by the International Digital Publishing Forum, for digital publications and documents;</li>
  <li>Distributing this policy to content providers and SoIC Open edX website content and technical support personnel for www.iudatascience.soic.scholargrid.org our mobile applications, and our platform;</li>
  <li>Linking to this policy from the www.iudatascience.soic.scholargrid.org homepage, soliciting and providing a method to submit feedback, and providing a method to contact knowledgeable SoIC Open edX personnel;</li>
  <li>Developing and distributing Accessibility Best Practices Guidance for content providers;</li>
  <li>Appointing a website accessibility coordinator who is knowledgeable on website accessibility and digital accessibility standards, responsible for coordinating SoIC Open edX's responsibilities with respect to accessibility, and responsible for developing the Accessibility Best Practices Guidance;</li>
  <li>Modifying policies to prioritize accessibility bug fixes to ensure they are remedied with the same level of priority as any other equivalent loss of function for individuals without disabilities;</li>
  <li>Retaining one or more knowledgeable website accessibility consultants responsible for conducting annual website accessibility evaluations of www.iudatascience.soic.scholargrid.org, our mobile applications, and our platform; and</li>
  <li>Providing annual training to SoIC Open edX website content and technical support personnel on ensuring www.iudatascience.soic.scholargrid.org, our mobile applications, and our platform conform with WCAG 2.0 AA.</li>
</ul>
<p>
  SoIC Open edX has undertaken these accessibility initiatives to expand access to high quality education for everyone and to assist content providers, many of which have independent obligations under accessibility laws, with providing content in accessible formats.
</p>
<p>
  SoIC Open edX urges content providers to incorporate accessibility in course content posted on www.iudatascience.soic.scholargrid.org to meet a wide variety of requirements of learners with disabilities.
</p>
<p>
  We will continue to spend quality time and extensive resources to make significant improvements to www.iudatascience.soic.scholargrid.org and our platform. Please direct any questions or suggestions on how to improve the accessibility of our site and platform to <a href="mailto:dsonedx@indiana.edu">dsonedx@indiana.edu</a>, or use the form below. We welcome your feedback.
</p>

</section>

